* {
    margin: 0;
    padding: 0;
}


.first-image-area{
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
    color: white;
    
}
.first-small{
    text-align: center;
    color:white;

}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: large;
}
.first-section{
    background:rgba(0,0,0,0.7)url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-blend-mode: darken;
}
.all-para{
    font-size: 17px;
    font-weight: 500;
}
.section-2-3-header{
    text-align: center;
    font-size: 50px;
}
.second-third-small{
    text-align: center;
    color:brown;
}
.flex-area{
    display: flex;
}
.width-tk{
    width: 100px;
    height: 100px;
    background-color:wheat;
    margin: 20px;
    font-size: large;
    font-weight: 900;
}
#first-div{
    margin-left: 28%;
}
#secon-div-tk{
    border: 3px solid red;
}
#secon-div-tk p{
    color: red;
}
.width-tk p{
    text-align: center;
    padding-top: 40%;
}
.first-form{
    margin-left: 500px;
}
.border{
    border: 0;
    border-bottom: 2px solid rgb(196, 36, 36);
    width: 650px;
    margin-left: -7%;
}
#flex-area{
    margin-left: 600px;
}
.button-style{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    font-weight: 500;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 20%;
}
.plan {
    
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}
.icon{
    height: 60px;
    width: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}
#flex-area-div-1{
    margin-left: 200px;
    background-color:rgba(127, 255, 212, 0.369);
}
#flex-area-div-2{
    background-color: rgba(0, 255, 255, 0.225);
}
#flex-area-div-3{
    margin-right: 200px;
    background-color: rgba(128, 128, 128, 0.248);
}


.orange-color {
    color: orange;
}


.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.top-width{
    margin-top: 150px;
    background-color: rgba(95, 158, 160, 0.242);
}
.aline{
    text-align: left;

}
#other-link{
    margin-left: 1px;
    margin-top: 400px;
    
}
#other-h2{
    margin-top: 70px;
    font-size: 50px;
}
.update-div{
    background-color: rgba(0, 255, 255, 0.404);
    height: 175px;
    width: 800px;
    margin: 0 auto;
}
.sizing-div{
    
    height: 40px;
    margin-left: 250px;
    margin-top: 70px;
    border-radius: 12px;

}
.second-form{
    height: 40px;
    width: 199px;
    background-color: rgba(169, 169, 169, 0.592);
    border: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.button-style-2{
    height: 40px;
    border: 0;
    background-color: rgba(242, 164, 63, 0.899);
    width: 90px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 700;
    font-size: 15px;
}
.last-section{
    background-color: black;
    height: 200px;
}
.last-header{
    color: rgb(205, 68, 86);
    font-size: 40px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    color: beige;
    margin-top: 0;
    text-align: center;
}